VITE_SARVAM_API_KEY=
VITE_SARVAM_BASE_URL=https://api.sarvam.ai
VITE_SARVAM_LLM_ENDPOINT=/v1/chat/completions
VITE_SARVAM_TTS_ENDPOINT=/text-to-speech
VITE_SARVAM_STT_ENDPOINT=/speech-to-text
VITE_SARVAM_LLM_MODEL=sarvam-m
VITE_SARVAM_TTS_MODEL=bulbul:v3
VITE_SARVAM_TTS_SPEAKER=Ritu
VITE_SARVAM_TTS_LANG=en-IN
